Spheres-ndof-12000-nc-3458-10018.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4280-15670.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4375-18220.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-885-2192.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2067-6128.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3038-8510.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3521-10193.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-364-346.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3717-10927.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1254-4214.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4346-18262.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2779-7699.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2953-8294.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3162-8944.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3468-10034.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3602-10372.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3960-11806.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-279-238.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1704-5345.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1775-5422.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2192-6358.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2319-6479.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3209-9146.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3234-9251.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1122-2819.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4454-32008.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-610-1767.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1067-2588.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1232-3267.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1911-5681.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2840-7935.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3525-10094.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-443-539.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1227-3330.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-936-2415.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2150-6170.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2315-6475.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2967-8115.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3105-8750.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3372-9824.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4461-32433.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1724-5294.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1386-4495.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1792-5514.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2040-5847.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3013-8445.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3622-10418.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-369-735.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4077-12622.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1105-2785.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-710-1692.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2339-6535.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2421-6832.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2579-7151.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3040-8470.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3700-10899.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3728-11062.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3920-11602.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1206-3781.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2390-6741.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2658-7448.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3045-8393.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3737-11065.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3895-11737.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1361-4349.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1375-4528.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1532-4772.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2152-6278.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2768-7722.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3143-8862.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4169-13598.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-996-2474.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1075-2770.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1568-4895.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1681-5160.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2129-6110.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3002-8309.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3527-10170.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-381-757.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4271-15612.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1426-4625.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-516-1378.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-943-2430.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4466-31772.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1585-5011.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1990-5815.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-240-201.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3033-8373.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-402-779.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-796-2019.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1123-2820.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2881-8002.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-373-351.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1231-3652.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1204-3804.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1829-5592.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3094-8679.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4157-13366.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4435-26334.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-758-1876.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-904-2445.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1124-3390.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1965-5799.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2141-6186.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2311-6466.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3084-8622.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-393-710.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4070-12579.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1790-5503.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2575-7150.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2963-8251.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3564-10244.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4199-13842.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4255-15460.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-788-2017.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1084-2727.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3744-11009.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-452-838.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-507-1384.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-634-1717.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3381-9741.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1957-5792.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2503-7067.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3419-9867.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-510-1410.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-689-1700.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1077-2590.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1377-4549.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1390-4584.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1799-5431.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2439-6765.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2512-7003.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1021-2689.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1966-5796.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2022-5855.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4168-13718.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4482-38823.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1850-5598.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1559-4946.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2478-6953.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2486-6930.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2822-7926.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-406-899.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-757-2010.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1253-4002.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1953-5713.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3605-10519.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3812-11179.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4440-33607.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-734-1830.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1447-4648.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2773-7698.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3928-11551.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1427-4624.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-174-101.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4085-13149.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-408-907.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4159-13705.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-886-2294.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1304-4271.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2373-6588.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2434-6864.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3134-8838.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3432-9890.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4517-49149.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-466-1091.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2090-6149.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2228-6373.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2530-7116.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2850-7954.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3918-11500.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4023-12160.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4464-27544.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1787-5516.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2802-7763.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2828-7848.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3712-10989.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4237-15402.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4250-15000.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-445-433.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-482-660.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2024-5981.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-835-2212.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2283-6436.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2630-7255.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-3172-8890.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4164-13707.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4334-16513.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-4371-17786.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-456-1176.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1649-5230.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-789-1998.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-931-2454.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-633-1790.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1807-5556.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2337-6653.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-2556-7099.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-723-1686.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-898-2306.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres-ndof-12000-nc-1321-4395.hdf5 filter=lfs diff=lfs merge=lfs -text
