PrimitiveSoup-ndof-6000-nc-1591-334.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2390-581.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-384-26.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1250-183.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1745-365.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2245-504.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2501-667.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-510-45.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1031-73.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1199-81.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-198-4.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2017-421.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-350-22.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1864-395.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1963-411.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2124-461.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1034-74.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1363-138.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1433-292.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1668-351.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1768-376.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2418-595.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1143-78.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1793-379.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-410-32.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-727-57.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1022-71.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1328-257.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2237-490.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1844-396.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2018-419.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-211-8.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1251-201.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1304-227.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1364-250.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1622-343.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1774-370.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2119-449.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-739-58.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-96-0.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1463-282.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-466-39.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-595-51.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-995-69.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1156-186.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2269-511.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2475-660.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-575-50.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-699-56.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-609-52.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-903-67.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1346-267.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1781-371.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1840-389.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2196-480.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2252-501.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1536-311.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-205-7.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2192-476.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1228-195.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1253-184.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1396-132.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1450-284.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1505-112.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2217-487.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2372-575.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2463-655.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-400-29.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1608-337.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1930-410.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2163-470.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1475-283.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2419-606.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-504-43.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-439-35.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-440-34.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1327-154.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1358-260.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1607-341.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2394-580.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2464-654.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1491-117.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1548-319.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1701-356.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1882-405.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-468-38.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1258-165.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1551-106.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-826-61.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1670-350.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-193-3.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2128-446.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-414-31.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-792-59.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-513-44.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-854-64.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1237-182.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1970-412.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2448-646.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2452-642.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2517-703.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-381-25.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1642-345.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1843-390.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1875-403.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-242-13.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-309-21.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-990-70.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1472-302.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1782-378.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1881-399.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2093-444.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-518-46.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2079-442.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-840-62.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1229-191.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1231-193.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-141-1.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1654-348.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2122-445.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2182-474.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2398-599.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2421-639.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1252-199.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1261-174.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1298-231.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1518-306.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1858-397.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-499-42.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2409-598.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-884-65.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-694-55.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2150-463.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-215-12.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2166-473.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2530-710.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-429-33.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1297-205.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2437-612.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-547-48.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-637-53.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-214-2.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-263-16.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1222-197.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1373-254.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1499-120.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1653-346.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-204-6.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-493-41.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-519-47.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-636-54.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1538-107.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1857-382.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2165-468.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-217-11.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2199-477.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-852-63.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-942-68.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1226-194.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1656-344.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2432-618.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2521-706.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-805-60.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2005-418.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2064-438.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-899-66.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-450-36.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-563-49.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1256-164.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1769-374.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-216-10.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-268-18.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-273-20.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2430-613.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-359-24.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1207-188.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1354-86.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1647-352.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1912-409.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2329-546.hdf5 filter=lfs diff=lfs merge=lfs -text
