Spheres1mm-ndof-12000-nc-4174-103.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4422-772.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4484-1136.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-3987-26.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4024-43.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4094-72.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4380-659.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4015-48.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4045-53.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4353-562.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4376-594.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4432-956.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4536-1600.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4308-500.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4374-591.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4399-902.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4405-796.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4527-1978.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-3206-2.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-3988-17.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4242-201.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4401-1017.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4424-773.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4466-1178.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4053-54.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4155-120.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4234-221.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4328-627.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4547-1617.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4170-136.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4184-164.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4348-343.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4476-1125.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4439-953.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4423-1085.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4008-41.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4369-653.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4410-905.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-2873-1.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4238-220.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4282-281.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4284-273.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4291-289.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4481-1135.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4486-1191.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4255-231.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-429-0.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4540-1612.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4524-1960.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4099-89.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4387-1021.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4021-36.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4231-185.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mm-ndof-12000-nc-4391-741.hdf5 filter=lfs diff=lfs merge=lfs -text
