Spheres1mmScaled-ndof-12000-nc-3120-8.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-3389-10.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-3459-11.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4487-76.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4559-682.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4575-901.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4613-1698.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-1332-2.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4430-20.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4432-21.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4464-23.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4489-114.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4520-251.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4369-17.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4581-866.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4383-18.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-2730-6.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-2941-7.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-3940-12.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4547-441.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-2407-3.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4025-13.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4144-14.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4488-135.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4490-51.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4610-1948.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4625-1864.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-904-1.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-3284-9.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4481-105.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4557-720.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4603-1534.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-731-0.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-2444-5.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4515-182.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4451-85.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4484-70.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4500-148.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4506-172.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4536-377.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4564-791.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4573-845.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-2481-4.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4620-1879.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4627-1845.hdf5 filter=lfs diff=lfs merge=lfs -text
Spheres1mmScaled-ndof-12000-nc-4615-1898.hdf5 filter=lfs diff=lfs merge=lfs -text
