KaplasTower-ndof-864-nc-346-1816.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-611-11429.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-667-11516.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-736-4524.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-137-1201.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-177-1106.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-190-1340.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-324-1768.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-851-11250.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-138-1199.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-287-1604.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-800-10583.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-829-11323.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-812-16086.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-366-1965.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-494-2533.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-563-1993.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-577-1991.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-133-1202.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-239-1447.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-340-1709.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-389-1851.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-652-3789.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-250-1285.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-329-1764.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-413-2135.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-633-3770.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-530-2631.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-671-2887.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-674-9764.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-715-11607.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-321-1898.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-455-2063.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-482-2537.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-5-25.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-771-6558.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-809-18144.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-47-316.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-604-11438.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-753-4678.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-119-1030.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-179-1262.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-208-1508.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-309-1909.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-582-2698.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-617-3796.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-392-2328.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-451-2449.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-516-2609.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-562-2625.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-837-11278.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-85-858.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-217-1366.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-307-1947.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-334-1804.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-514-2597.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-302-1920.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-620-3797.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-744-5584.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-75-516.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-487-2476.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-585-2694.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-70-357.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-805-15948.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-318-1772.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-322-1884.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-356-1835.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-48-314.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-823-17059.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-468-2029.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-678-3088.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-68-584.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-766-8284.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-216-1364.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-257-1642.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-406-2197.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-417-2130.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-96-920.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-150-1170.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-385-1841.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-396-1734.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-81-700.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-423-2377.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-733-3431.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-768-6530.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-505-2611.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-634-3807.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-698-2920.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-810-16130.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-388-2308.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-469-2043.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-472-2053.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-488-2485.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-821-11143.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-645-2858.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-769-9320.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-702-2932.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-71-774.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-92-876.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-100-739.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-160-1256.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-304-1955.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-600-2703.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-64-321.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-824-17047.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-826-11242.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-99-980.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-136-1085.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-166-1131.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-35-147.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-511-2596.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-818-17116.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-165-1135.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-466-2477.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-506-1976.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-561-2644.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-401-2358.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-593-2756.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-646-9824.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-651-3596.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-118-1007.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-348-2272.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-355-1878.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-36-93.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-74-547.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-490-2544.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-544-2626.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-134-1087.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-158-1134.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-298-1578.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-360-2294.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-267-1421.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-610-3876.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-641-11340.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-804-17375.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-146-1207.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-155-1259.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-253-1649.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-254-1568.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-841-11259.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-807-15857.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-198-1476.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-205-1319.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-497-2525.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-660-3841.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-285-1606.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-391-2237.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-512-2590.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-632-11394.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-644-9914.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-227-1290.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-361-1745.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-579-2661.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-59-566.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-453-2075.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-477-2469.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-532-2616.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-589-2754.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-102-996.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-262-1439.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-310-1701.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-353-1779.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-712-4000.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-839-11280.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-387-1966.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-724-3264.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-811-10878.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-6-30.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-803-16221.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-152-1220.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-204-1544.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-293-1917.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-407-2214.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-200-1318.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-2-13.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-45-308.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-758-9340.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-845-11306.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-338-1806.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-492-2575.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-551-2628.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-83-665.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-612-3736.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-693-3964.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-754-4930.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-93-724.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-103-729.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-108-995.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-139-1176.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-489-2484.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-580-2692.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-581-3735.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-584-2665.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-656-2866.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-224-1363.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-363-2283.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-452-2070.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-483-2561.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-721-3188.hdf5 filter=lfs diff=lfs merge=lfs -text
KaplasTower-ndof-864-nc-755-5712.hdf5 filter=lfs diff=lfs merge=lfs -text
