PrimitiveSoup-ndof-6000-nc-1415-274.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1611-330.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1709-345.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1798-364.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2174-457.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2369-523.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1264-227.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2920-1003.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3147-1925.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-323-19.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-974-77.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2239-485.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1504-298.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1962-398.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1995-412.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2488-575.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2517-590.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2738-740.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2925-1012.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1181-212.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-367-25.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3199-2147.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2214-488.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2722-717.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3047-1333.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-631-52.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-947-151.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1706-344.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1738-352.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2082-445.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1283-232.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2437-557.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2438-544.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2744-737.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-315-14.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-352-23.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-773-61.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-949-75.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1440-278.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1276-233.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1378-248.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1475-295.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1858-387.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-203-9.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-209-10.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2460-578.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1109-105.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-479-37.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-547-40.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-568-46.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2739-747.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1480-299.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1578-327.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1649-336.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2250-473.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-298-11.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-316-18.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3179-2042.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1387-255.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-385-28.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-889-133.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3246-2536.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1593-326.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2388-531.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2545-622.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-555-42.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-897-132.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1230-223.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-131-6.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2279-479.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2633-643.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-860-67.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1107-108.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2902-990.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-888-124.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-194-7.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1762-362.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1825-369.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-300-12.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3141-1907.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-597-48.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1050-171.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2009-420.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2090-440.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2724-713.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3221-2232.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-899-129.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1860-386.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2077-427.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2491-564.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-757-59.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-911-119.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-939-116.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-205-8.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1787-367.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1909-382.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2714-674.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2734-712.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-317-15.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-633-51.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-985-114.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1598-315.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2612-641.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2926-1006.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-302-13.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-318-16.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2498-586.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3066-1595.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3249-2486.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3256-2494.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-421-35.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-954-154.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1768-366.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1857-389.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2248-470.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2876-870.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-615-49.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1122-204.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1350-242.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2178-460.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3235-2535.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-412-32.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-566-45.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1102-194.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-558-43.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-916-144.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2489-568.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2088-437.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-722-56.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-986-157.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1474-290.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1531-305.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1934-391.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2222-461.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2289-509.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2521-594.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2999-1148.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-695-53.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1152-206.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2273-499.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1620-317.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2045-431.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2256-472.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2371-526.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2785-772.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-418-31.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-751-58.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1429-279.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1747-358.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1785-363.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2332-518.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2372-533.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3059-1383.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-30-5.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1556-306.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3190-2112.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1723-346.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2649-657.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2708-701.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2720-703.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1116-201.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2283-502.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2470-580.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2893-938.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2923-1005.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3144-1937.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3271-2771.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3277-2770.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1781-357.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-475-36.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-883-123.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3282-2721.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1583-325.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2282-500.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2597-636.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2639-651.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3004-1135.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1028-88.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-910-121.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-993-112.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1184-211.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1039-90.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1419-280.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1729-343.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-313-17.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3154-1968.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-3194-2081.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-413-33.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1003-161.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-983-113.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1353-243.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2537-611.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-2616-648.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-361-24.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-486-38.hdf5 filter=lfs diff=lfs merge=lfs -text
PrimitiveSoup-ndof-6000-nc-1087-183.hdf5 filter=lfs diff=lfs merge=lfs -text
